{% extends "base.html" %}

{% block title %}Home - SitLess{% endblock %}

{% block content %}
<div class="container text-center mt-5">
  <h1 class="mb-4">Choose a Time Interval</h1>

  <form method="POST" action="/">
    <button type="submit" name="duration" value="00:05" class="btn btn-primary m-2">5 Seconds</button>
    <button type="submit" name="duration" value="10:00" class="btn btn-primary m-2">10 Minutes</button>
    <button type="submit" name="duration" value="20:00" class="btn btn-primary m-2">20 Minutes</button>
    <button type="submit" name="duration" value="30:00" class="btn btn-primary m-2">30 Minutes</button>
  </form>
</div>
{% endblock %}